*.depend
*.layout
/bin/*.exe
/bin/*.dll
/bin/*.so
/bin/*.so.dSYM
/bin/*.dylib
/bin/sgs*
/obj/*
/lib/*
*.idb
*.pdb
*.log
*.suo
*.opensdf
*.sdf
ipch
*.user
!output.dir
!*.sgs
!*.png
bin/testdata/
/docs/out/*
.DS_Store
xcuserdata
*.csh
/libs/
